<header>
  <h2>MEMBER-ONLY APP</h2>
  <ul>
    <% if (!locals.currentUser) { %>
    <li><a href="./">Home </a></li>
    <li><a href="./login">Login </a></li>
    <li><a href="./signup">Signup </a></li>
    <% }else{%>
    <li><a href="./">Home </a></li>
    <li><a href="./get-membership">GET Membership </a></li>
    <li><a href="./new">New Post </a></li>
    <li><a href="./logout">Logout </a></li>
    <% }%>
  </ul>
</header>