<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
  <%- include('./partials/header.ejs') %>
  <main>
    <form action="/login" method="POST">
      <h2>Login into MEMBER-ONLY APP</h2>
      <% if (error_msg) { %>
      <div class="inputs-error"><%= error_msg[0] %></div>
      <% } %>
      <div class="form-container">
        <label for="username">Username :</label>
        <input name="username" type="text" id="username">
        <label for="password">Password :</label>
        <input name="password" type="password" id="password">
        <button type="submit">LOGIN</button>
      </div>
      <p>Don't have an account ? <a href="./signup">Signup</a></p>
    </form>
  </main>
  <%- include('./partials/footer.ejs') %>
  <script src="authErr.js"></script>
</body>

</html>